html, body {
    padding:0px;
    margin: 0px;
    background-color: rgb(158, 23, 158);
    font-family: Arial;
}
:focus {
    outline: none;
}
form {
    padding:auto;
    margin:auto;
    text-align: center;
}
#nameQuiz::placeholder {
    color: rgb(150, 65, 150);
}

#nameQuiz{
    background-color: rgb(83, 36, 83);
    font-size: 25px;
    border:none;
    border-radius:5px;
    color: rgb(150, 65, 150);
}
#tabQuiz > * {
    border-radius:10px;
}
#tabQuiz{
    margin-left:10%;
    border:2px;
    border-radius: 20px;
    width:80%;
    background-color: rgba(255, 237, 117, 0.882); 
}

.domanda{
    background-color: rgb(191, 189, 189);
    margin-left:12.5%;
    width:75%
    
}
.newQuestion::placeholder {
    color: rgb(150, 65, 150);
}
.newQuestion{
    border-radius: 2.5px;
    border:none;
    background-color: antiquewhite;
    color: rgb(150, 65, 150);
    height: 20px;
    float: left;
    margin-left: 20px;
}
.DeleteDom{
    border-radius: 2.5px;
    border:none;
    background-color: red;
    color: white;
    height: 20px;
    transform:translate(287px,0px);
}

.inAnswer::placeholder {
    color: rgb(150, 65, 150);
}
.inAnswer {
    border-radius: 2.5px;
    border:none;
    background-color: antiquewhite;
    color: rgb(150, 65, 150);
    height: 20px;
}
.eliminaRis {
    border-radius: 2.5px;
    border:none;
    background-color: red;
    color: white;
    height: 20px;
}
.addRis {
    border-radius: 2.5px;
    border:none;
    background-color: rgb(218, 186, 2);
    color: rgb(235, 235, 235);
    height: 20px;
}
#addDom{
    border-radius: 2.5px;
    border:none;
    background-color: rgb(12, 153, 14);
    color: rgb(235, 235, 235);
    height: 20px;
}
#conferma{
    border-radius: 2.5px;
    border:none;
    background-color: rgb(12, 153, 14);
    color: rgb(235, 235, 235);
    height: 20px;
}